__pycache__
.cache
dist
*.pyc
docs/build
*.egg-info
.project
.pydevproject
.coverage
.settings
venv
.cproject
*.swp
.tmontmp
last_test_runs
.testmondata
*.orig
data/
*.log
clustering.pdf

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

build/*
