# List of required dependencies
#-e /home/limyreth/doc/eclipse_workspace/chicken_turtle_util[click,test,data_frame,path,logging]
chicken_turtle_util==4.*
numpy
pandas
attrs
cvxopt
scikit-learn

# profiling
pyprof2calltree

#TODO these are deps from ete3, file an issue requesting them to add them to install_requires or extras_require
# see also `http://etetoolkit.org/download/`_ native tab
lxml
six
#numpy  #already mentioned
pyqt4  # also required but also broken, need to install manually
ete3
